<header class="header">
  <div class="wrapper">
    <div class="header__wrapper">
      <a routerLink="" class="book_home_page">
        <h1 class="book_title">
          books-kz
        </h1>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#!" class="header__link">Articles</a>
          </li>
          <li class="header__item">
            <a href="#!" class="header__link">Locations</a>
          </li>
          <li class="header__item">
            <a routerLink="/shoppingCart" class="header__link">Корзина</a>
          </li>
          <li class="header__item">
            <a href="#!" class="header__link">Войти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
