.header{
  position: fixed; /* шапка всегда на странице и не остается за кадром */
  top: 0; /* прикрепление к топу */
  left: 0;/* прикрепление влево */
  width: 100%;
}
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list{
  display: flex;
  flex-wrap: wrap;
}
.header__item{
  margin-right: 82px;
}
.header__item:last-child{
  margin-right: 0;
}
.header__link{
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}
.header__link:hover, .header__link:active, .header__link:focus{ /* анимации для меню при наведении кликании и таб*/
  opacity: .75;
}

.book_title{
  font-size: 24px;
}
.book_home_page{
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 24px;
}
