.intro{
  min-height: 100vh;
  background: url("https://peoriaparks.org/wp-content/uploads/2017/12/BookCourt_iStock-690358116-e1515177346323.jpg") no-repeat center; /* не повторять картину и по центру почтавить*/
  background-size: cover; /* растянуть по экрану*/
  padding-top: 263px;
  padding-bottom: 223px;
}
