<main>
  <div class="intro">
    <div class="wrapper">
      <div class="wrapper__intro">
        <div class="cart-book">
          <div *ngIf="cartBooks.length === 0" class="alert alert-info col-md-2">корзина пуста</div>
          <ul *ngIf="cartBooks.length > 0" class="cart-list">
            <li *ngFor="let book of cartBooks">
              <div class="book__card">
                <div class="book__title">
                  {{book?.title}}
                </div>
                <div class="book__price">
                  {{book?.price}} тг
                </div>
              </div>
            </li>
            {{cartTotal}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
