.intro{
  min-height: 100vh;
  background: url("https://peoriaparks.org/wp-content/uploads/2017/12/BookCourt_iStock-690358116-e1515177346323.jpg") no-repeat center; /* не повторять картину и по центру почтавить*/
  background-size: cover; /* растянуть по экрану*/
  padding-top: 263px;
  padding-bottom: 223px;
}
/* Intro styles end */

.intro__title{
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: black;
  margin-bottom: 22px;

}


.wrapper__intro{
 float: right;
}
.intro__subTitle{
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 59px;
}

.search-form__info{
  display: flex;
  flex-wrap: wrap;}

.search-form__field{
  width: 297px;
  background: transparent /* url */ no-repeat left 6px;
  background-size: 20px ;
  border: 0;
  border-bottom:2px solid #1659b1;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.search-form__submit{
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form__submit:active, .search-form__submit:hover, .search-form__submit:focus {
  background-color: #1659b1;
}

/* intro end*/
/* benefits styles */
.benefits__wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}


.benefits__cards{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  padding: 0 80px; /* выравнивание по левому и правому краю*/
}
.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px; /* сверху и направо п округу */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%); /* вывести блок на другой блок */
  background-color: #fff;

}

.benefits{
  margin-bottom: 500px;
}

.book__card{
  grid-column: span 1;
  margin-bottom: 112px;
}

.book__poster{
  margin-bottom: 37px;
}

.book__pic{
  display: block;
  height: 400px;
  object-fit: cover
}

.book__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 400px;
}
.book__price{
  margin-bottom: 20px;
}
.benefits__card-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more{
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;

  transition: 0.2s all; /* задержка анимации */

}

.benefits__card-more:hover, .benefits__card-more:focus {

}

/* benefits styles end*/
