<main class="main">
  <section class="intro">
    <div class="wrapper">
      <div class="wrapper__intro">
        <h1 class="intro__title">Some title about books</h1>
        <p class="intro__subTitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, reiciendis.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, reiciendis.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, reiciendis.
        </p>
        <form class="search-form">
          <fieldset class="search-form__wrap">
            <p class="search-form__info">
              <input type="text" name="user-like0to-do" class="search-form__field"
                     placeholder="Поиск книги">
              <button type="submit" class="search-form__submit">найти</button>
            </p>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
  <!-- Intro End -->
  <!-- Books__card start -->
  <section class="benefits">
    <div class="benefits__wrap">
      <h2 class="benefits__title">
        Каталог книг
      </h2>
      <div class="books__cards">
<ul class="benefits__cards">
          <li  *ngFor="let book of books">
            <div class="book__card">
              <div class="book__poster">
                <img src="{{book?.poster}}" alt="" class="book__pic">
              </div>
              <div class="book__title">
                {{book?.title}}
              </div>
              <div class="book__price">
                {{book?.price}} тг
              </div>
              <button type="button" class="btn btn-primary" (click)="handleAddToCart()" >добавить в корзину</button>
            </div>
          </li>
</ul>

      </div>
    </div>
  </section>
</main>
