<div class="book__card">
    <div class="book__poster">
      <img src="{{book?.poster}}" alt="" class="book__pic">
    </div>
    <div class="book__title">
      {{book?.title}}
    </div>
    <div class="book__price">
      {{book?.price}} тг
    </div>
    <button type="button" class="btn btn-primary">добавить в корзину</button>
</div>

